/* 404 */
.error-404 {
   padding: 30px;
}

.error-404 h1 {
   font-size: 180px;
   font-weight: 700;
   color: #ff8b00;
   margin-bottom: 5px;
   line-height: 150px;
}

.error-404 h2 {
   font-size: 24px;
   font-weight: 700;
   color: #012970;
}

.error-404 .btn {
   background: #51678f;
   color: #fff;
   padding: 8px 30px;
}

.error-404 .btn:hover {
   background: #3e4f6f;
}

@media (min-width: 992px) {
   .error-404 img {
      max-width: 50%;
   }
}
span {
   background-color: transparent;
}
