:root {
   --background: #ecedff;
   --card-background: rgba(255, 255, 255, 0.7);
   --card: rgb(255, 255, 255);
   --text: #2d3a40;
   --text-white: rgba(255, 255, 255, 0.7);
   --muted-text: #6b767a;
   --primary: #5155c3;
   --primary-hover: #686bc7;
   --secondary: #f78e5e;

   scroll-behavior: smooth;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: none;
}
.bg {
   background-color: var(--background);
}
body {
   font-family: "Open Sans", sans-serif;
   -webkit-font-smoothing: antialiased;
   color: var(--color-text);
}

.loginInput {
   border-style: none;
}

button {
   border: none;
   background: transparent;
}

.prevent-select {
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
}

.selectEnable {
   -webkit-user-select: text;
   -khtml-user-select: text;
   -moz-user-select: text;
   -o-user-select: text;
   user-select: text;
}

.disabled {
   pointer-events: none;
   opacity: 0.6;
}
