:root {
   --text: #e8ecf4;
   --background: #06080d;
   --primary: #9aa7d0;
   --secondary: #46346e;
   --accent: #8862b6;
   --secondaryBackground: #121418;
}

* {
   /* border-style: ridge; */
   background-color: var(--background);
   color: var(--text);
}

.navbar {
   z-index: 1030; /* Ensure the navbar stays on top */
}
.inputBorders {
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.card {
   color: var(--text);
}

.sidebar {
   background-color: var(--secondaryBackground);
}

.vh-100 {
   height: 100vh;
}

.d-flex {
   display: flex;
}

.sidebar {
   width: 16.6667%; /* Equivalent to col-2 */
   height: calc(100vh - 56px); /* Adjusted for the height of the navbar */
   position: fixed;
   top: 56px; /* Adjusted for the height of the navbar */
   padding-top: 0; /* No extra padding needed */
   transition: transform 0.3s ease-in-out;
}

.dashboard {
   margin-left: 16.6667%; /* Equivalent to col-2 */
   padding: 1.5rem;
   padding-top: 56px; /* Adjusted for the height of the navbar */
   width: 100%;
}

.overflow-auto {
   overflow: auto;
}

.nav-pills .nav-link {
   cursor: pointer;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
   width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey;
   border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   background-color: var(--accent);
}

/* Responsive design */
@media (max-width: 768px) {
   .sidebar {
      display: none;
   }

   .dashboard {
      margin-left: 0;

      padding: 1.5rem 1rem;
      padding-top: 56px;
   }

   .navbar-toggler {
      margin-left: auto;
   }
}
