* {
   border-style: ridge;
   background-color: #dde3f1;
}

.inputBorders {
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.col1{
    background-color: aliceblue;
}

.col2{
    background-color: aqua;
}

nav{
    background-color: bisque;
}